html, body{
    height: 100%;
    box-sizing: border-box;
    /* background:black; */
    margin: 0;
    padding:0;
    cursor: url("arrow.svg"), pointer;
    background: black;

}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@font-face {
    font-family: 'frente_h1regular';
    src: url('FrenteH1-Regular-webfont.eot');
    src: url('FrenteH1-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('FrenteH1-Regular-webfont.woff2') format('woff2'),
         url('FrenteH1-Regular-webfont.woff') format('woff'),
         url('FrenteH1-Regular-webfont.ttf') format('truetype'),
         url('FrenteH1-Regular-webfont.svg#frente_h1regular') format('svg');
    font-weight: 1500;
    font-style: normal;
  
  }
.container{
    width:60%;
   margin: auto;
   z-index: 999;

}
.V{
    transition: all ease-in-out 1s;
}
@keyframes wrapp{
    0%{
        opacity: 0;
        transform: rotateY(-25deg) rotateX(-180deg);
        display: none;
    }
     100%{
        opacity: 1;
        transform: rotateY(50) rotateX(10);
        display: block;
    }
}


.wrapp{
    /* animation: wrapp 4s forwards ; */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
    cursor: url("arrow.svg"), pointer;
    
    
}

@keyframes path{
    20%{opacity: 0}
    80%{opacity: 1;stroke-width:5}
}
path{
animation-delay: 10s;
animation: path 5s infinite ease-in-out;
animation-fill-mode: forwards;
transition: all 5s ease-in-out;
}

line{
    animation-delay: 5s;
     stroke-dasharray: 258;
     stroke-dashoffset: 250;
    animation: line 10s linear forwards;

  }

  @keyframes line {
   
    100% {
      stroke-dashoffset: 0;
    }
  }
/* NAVBAR */

ul{
     margin-top: 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    z-index: 9999;
   
     
}
li{
    list-style: none;
    width:324px;
    position: relative;
}
a{
    cursor: url("arrow.svg"), pointer;
}


.skills{
    animation-delay: 5s;
    stroke-dasharray: 258;
    stroke-dashoffset: 250;
    animation: skills 5s linear forwards;
}
@keyframes skills {
   
    100% {
      stroke-dashoffset: 0;
    }
  }
.about{
 
    stroke-dasharray: 258;
    stroke-dashoffset: 250;
   animation: about 4s linear forwards;
}
@keyframes about {
   
    100% {
      stroke-dashoffset: 0;
    }
}

.contact{
 
    stroke-dasharray: 258;
    stroke-dashoffset: 250;
    animation: contact 4s linear forwards;
   
}
@keyframes contact {
   
    100% {
      stroke-dashoffset: 0;
    }
}
.bottomLine{
    display: flex;
align-items: center;
justify-content: center;
cursor: url("arrow.svg"), pointer;
}
.bottomLine path{ 
stroke-width: 1;
stroke-dasharray: 1000;
stroke-dashoffset:1000;
animation: bline 15s linear forwards;
}
 @keyframes bline {
       
 100% {
stroke-dashoffset: 0;
    }
}

/* ABOUT ME */
#aboutMe{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;       
    z-index: 99999;
    display: none;
   cursor: url("x.svg"), pointer;
   align-items: center;
   justify-content: center;

}
#aboutMe h2{
    color: white;
    font-size: 5vw;
    text-align: center;
    font-family: 'frente_h1regular';  
    cursor: url("arrow.svg"), pointer;
    font-weight: 100;
    text-transform: uppercase;
}
/* SKILL */
#skillMe{
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 10%;
    background-color: black;       
    z-index: 99999;
   cursor: url("x.svg"), pointer;
   align-items: center;
   justify-content: center;
   display:none; 
   overflow: scroll;
 
}
.skillMe{
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: row;
   text-align: left;
   margin-left: 2%;
   
}
.skillMe .name{
    color:white;
    margin-right: 10px;
    font-family: 'frente_h1regular';  
}
.scale line{
    stroke-width: 1;
    stroke-dasharray:700;
    stroke-dashoffset:700;
    animation: scale 5s alternate forwards;
}
.pathgrp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
@keyframes scale {
       
    100% {
         stroke-dashoffset: 0;
       }
   }

/* CONTACT */

#contact{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;       
    z-index: 99999;
    align-items: center;
    justify-content: center;
    display:none; 
 
}
.contactwrapper{
    width: 40%;
    margin: auto;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex-direction: row;
    margin-top: 50px;
    cursor: url("arrow.svg"), pointer;
}
label h3{
    color: white;
    font-family: 'frente_h1regular';  

}
label h3{
    margin-right:25px;
    font-size: 35px;
    
}
label input{
    width: 60%;
    height: 100%;
    outline: none;
    background: none;
    font-size: 30px;
    color: white;
    padding:10px;
    margin-left: auto;
    font-family: 'frente_h1regular';  

}
textarea{
    max-width: 749px;
    min-width: 749px;
    min-height: 250px;
    max-height: 250px;
    font-family: 'frente_h1regular'; 
    background: none;
    font-size: 30px;
    margin-top: 4%;
    padding: 10px;
    outline: none;
    color: white;
   
}
.buttonwrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.buttonwrapp button{
    font-family: 'frente_h1regular'; 
    background: none;
    font-size: 30px;
    color: white;
    width:100px;
}


.ie9 img[src$=".svg"] {
  width: 100%; 
}
/* 2 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; 
  }
}